.menu-li {
  transition: all 0.3s ease;
  display: inline-block;
  padding: 10px;
  margin: 1rem;
  &.active,
  &:hover {
    background-color: $primary;
    border-radius: 5px;
    a.menu-li__option {
      color: $secondary;
    }
  }
}

.menu-li__option {
  color: $text-secondary;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0;
}
