$primary: #e5a575;
$primary-light: #ffd6a4;
$primary-dark: #b17648;
$secondary: #5b0212;
$secondary-light: #8d3538;
$secondary-dark: #350000;
$text-primary: #111827;
$text-secondary: #fffdf7;

$primary-font: "Poppins", sans-serif;
$secondary-font: "DM Sans", sans-serif;
