.link-menu {
  margin: 2rem;
  padding: 1rem;
  color: $text-secondary;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}
