.cover {
  display: flex;
  justify-content: center;
  background-color: #ffd6a4;
  background-image: radial-gradient(circle at center center, #e5a575, #ffd6a4),
    repeating-radial-gradient(
      circle at center center,
      #e5a575,
      #e5a575,
      26px,
      transparent 52px,
      transparent 26px
    );
  background-blend-mode: multiply;
  .cover__div {
    margin: 2rem;
    &-info {
      display: flex;
      .info__image {
        display: flex;
        justify-content: center;
        width: 40%;
        img {
          width: 400px;
        }
      }
      .info__content {
        backdrop-filter: blur(14px) saturate(161%);
        -webkit-backdrop-filter: blur(14px) saturate(161%);
        background-color: rgba(255, 253, 247, 0.25);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 50%;
        text-align: center;
      }
    }
    &-grid {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }
}
